(
	{'title' = 'add_attachment'; 'insert' = '(\'add_attachment\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'add_category_form_pre'; 'insert' = '(\'add_category_form_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'add_link_category_form_pre'; 'insert' = '(\'add_link_category_form_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'add_tag_form'; 'insert' = '(\'add_tag_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'add_tag_form_pre'; 'insert' = '(\'add_tag_form_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_footer'; 'insert' = '(\'admin_footer\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_head'; 'insert' = '(\'admin_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_init'; 'insert' = '(\'admin_init\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_menu'; 'insert' = '(\'admin_menu\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_notices'; 'insert' = '(\'admin_notices\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_page_access_denied'; 'insert' = '(\'admin_page_access_denied\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_print_scripts'; 'insert' = '(\'admin_print_scripts\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_print_styles'; 'insert' = '(\'admin_print_styles\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_xml_ns'; 'insert' = '(\'admin_xml_ns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'app_publish_post'; 'insert' = '(\'app_publish_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'atom_entry'; 'insert' = '(\'atom_entry\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'atom_head'; 'insert' = '(\'atom_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'atom_ns'; 'insert' = '(\'atom_ns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'auth_cookie_bad_hash'; 'insert' = '(\'auth_cookie_bad_hash\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'auth_cookie_bad_username'; 'insert' = '(\'auth_cookie_bad_username\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'auth_cookie_expired'; 'insert' = '(\'auth_cookie_expired\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'auth_cookie_malformed'; 'insert' = '(\'auth_cookie_malformed\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'auth_cookie_valid'; 'insert' = '(\'auth_cookie_valid\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'blog_privacy_selector'; 'insert' = '(\'blog_privacy_selector\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'check_admin_referer'; 'insert' = '(\'check_admin_referer\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'check_ajax_referer'; 'insert' = '(\'check_ajax_referer\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'clean_object_term_cache'; 'insert' = '(\'clean_object_term_cache\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'clean_page_cache'; 'insert' = '(\'clean_page_cache\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'clean_post_cache'; 'insert' = '(\'clean_post_cache\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'clean_term_cache'; 'insert' = '(\'clean_term_cache\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'clear_auth_cookie'; 'insert' = '(\'clear_auth_cookie\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'commentrss2_item'; 'insert' = '(\'commentrss2_item\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'commentsrss2_head'; 'insert' = '(\'commentsrss2_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_atom_entry'; 'insert' = '(\'comment_atom_entry\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comment_closed'; 'insert' = '(\'comment_closed\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_flood_trigger'; 'insert' = '(\'comment_flood_trigger\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comment_id_not_found'; 'insert' = '(\'comment_id_not_found\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_loop_start'; 'insert' = '(\'comment_loop_start\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_on_draft'; 'insert' = '(\'comment_on_draft\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_post'; 'insert' = '(\'comment_post\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'dbx_post_advanced'; 'insert' = '(\'dbx_post_advanced\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'dbx_post_sidebar'; 'insert' = '(\'dbx_post_sidebar\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'deleted_post'; 'insert' = '(\'deleted_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'delete_attachment'; 'insert' = '(\'delete_attachment\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'delete_comment'; 'insert' = '(\'delete_comment\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'delete_post'; 'insert' = '(\'delete_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'delete_term'; 'insert' = '(\'delete_term\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'delete_user'; 'insert' = '(\'delete_user\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'deprecated_file_included'; 'insert' = '(\'deprecated_file_included\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'deprecated_function_run'; 'insert' = '(\'deprecated_function_run\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'do_meta_boxes'; 'insert' = '(\'do_meta_boxes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'do_robots'; 'insert' = '(\'do_robots\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_attachment'; 'insert' = '(\'edit_attachment\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_category_form'; 'insert' = '(\'edit_category_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_category_form_pre'; 'insert' = '(\'edit_category_form_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_comment'; 'insert' = '(\'edit_comment\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_form_advanced'; 'insert' = '(\'edit_form_advanced\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_link_category_form'; 'insert' = '(\'edit_link_category_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_link_category_form_pre'; 'insert' = '(\'edit_link_category_form_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_page_form'; 'insert' = '(\'edit_page_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_post'; 'insert' = '(\'edit_post\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'edit_tag_form'; 'insert' = '(\'edit_tag_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_tag_form_pre'; 'insert' = '(\'edit_tag_form_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_user_profile'; 'insert' = '(\'edit_user_profile\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_user_profile_update'; 'insert' = '(\'edit_user_profile_update\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'export_wp'; 'insert' = '(\'export_wp\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'generate_rewrite_rules'; 'insert' = '(\'generate_rewrite_rules\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'import_done'; 'insert' = '(\'import_done\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'import_end'; 'insert' = '(\'import_end\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'import_post_added'; 'insert' = '(\'import_post_added\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'import_post_meta'; 'insert' = '(\'import_post_meta\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'import_start'; 'insert' = '(\'import_start\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'init'; 'insert' = '(\'init\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'install_plugins_table_header'; 'insert' = '(\'install_plugins_table_header\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'load_feed_engine'; 'insert' = '(\'load_feed_engine\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'login_form'; 'insert' = '(\'login_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'login_head'; 'insert' = '(\'login_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'loop_end'; 'insert' = '(\'loop_end\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'loop_start'; 'insert' = '(\'loop_start\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'lostpassword_form'; 'insert' = '(\'lostpassword_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'lostpassword_post'; 'insert' = '(\'lostpassword_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'lost_password'; 'insert' = '(\'lost_password\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'manage_comments_nav'; 'insert' = '(\'manage_comments_nav\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'manage_link_custom_column'; 'insert' = '(\'manage_link_custom_column\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'manage_media_custom_column'; 'insert' = '(\'manage_media_custom_column\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'manage_pages_custom_column'; 'insert' = '(\'manage_pages_custom_column\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'manage_posts_custom_column'; 'insert' = '(\'manage_posts_custom_column\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'parse_query'; 'insert' = '(\'parse_query\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'parse_request'; 'insert' = '(\'parse_request\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'password_reset'; 'insert' = '(\'password_reset\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'personal_options'; 'insert' = '(\'personal_options\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'personal_options_update'; 'insert' = '(\'personal_options_update\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pingback_post'; 'insert' = '(\'pingback_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'plugins_loaded'; 'insert' = '(\'plugins_loaded\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'populate_options'; 'insert' = '(\'populate_options\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'post-flash-upload-ui'; 'insert' = '(\'post-flash-upload-ui\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'post-html-upload-ui'; 'insert' = '(\'post-html-upload-ui\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'post-upload-ui'; 'insert' = '(\'post-upload-ui\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'post_submitbox_start'; 'insert' = '(\'post_submitbox_start\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pre-flash-upload-ui'; 'insert' = '(\'pre-flash-upload-ui\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pre-html-upload-ui'; 'insert' = '(\'pre-html-upload-ui\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pre-upload-ui'; 'insert' = '(\'pre-upload-ui\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pre_get_posts'; 'insert' = '(\'pre_get_posts\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pre_ping'; 'insert' = '(\'pre_ping\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'private_to_published'; 'insert' = '(\'private_to_published\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'profile_personal_options'; 'insert' = '(\'profile_personal_options\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'profile_update'; 'insert' = '(\'profile_update\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'publish_phone'; 'insert' = '(\'publish_phone\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rdf_header'; 'insert' = '(\'rdf_header\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rdf_item'; 'insert' = '(\'rdf_item\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rdf_ns'; 'insert' = '(\'rdf_ns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'register_form'; 'insert' = '(\'register_form\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'register_post'; 'insert' = '(\'register_post\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'restrict_manage_posts'; 'insert' = '(\'restrict_manage_posts\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'retreive_password'; 'insert' = '(\'retreive_password\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'retrieve_password'; 'insert' = '(\'retrieve_password\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'retrieve_password_key'; 'insert' = '(\'retrieve_password_key\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'right_now_table_end'; 'insert' = '(\'right_now_table_end\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rss2_head'; 'insert' = '(\'rss2_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rss2_item'; 'insert' = '(\'rss2_item\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rss2_ns'; 'insert' = '(\'rss2_ns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rss_head'; 'insert' = '(\'rss_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rss_item'; 'insert' = '(\'rss_item\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'sanitize_comment_cookies'; 'insert' = '(\'sanitize_comment_cookies\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'save_post'; 'insert' = '(\'save_post\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'send_headers'; 'insert' = '(\'send_headers\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'setup_theme'; 'insert' = '(\'setup_theme\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'set_auth_cookie'; 'insert' = '(\'set_auth_cookie\',${1:string func_to_call},${2:10},${3:5});$0';},
	{'title' = 'set_current_user'; 'insert' = '(\'set_current_user\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'set_logged_in_cookie'; 'insert' = '(\'set_logged_in_cookie\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'show_user_profile'; 'insert' = '(\'show_user_profile\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'shutdown'; 'insert' = '(\'shutdown\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'submitlink_box'; 'insert' = '(\'submitlink_box\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'submitpage_box'; 'insert' = '(\'submitpage_box\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'submitpost_box'; 'insert' = '(\'submitpost_box\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'template_redirect'; 'insert' = '(\'template_redirect\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'trackback_post'; 'insert' = '(\'trackback_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'transition_comment_status'; 'insert' = '(\'transition_comment_status\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'transition_post_status'; 'insert' = '(\'transition_post_status\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'user_register'; 'insert' = '(\'user_register\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'widgets_init'; 'insert' = '(\'widgets_init\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp'; 'insert' = '(\'wp\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_authenticate'; 'insert' = '(\'wp_authenticate\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_blacklist_check'; 'insert' = '(\'wp_blacklist_check\',${1:string func_to_call},${2:10},${3:6});$0';},
	{'title' = 'wp_create_file_in_uploads'; 'insert' = '(\'wp_create_file_in_uploads\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_footer'; 'insert' = '(\'wp_footer\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_head'; 'insert' = '(\'wp_head\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_insert_post'; 'insert' = '(\'wp_insert_post\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_login'; 'insert' = '(\'wp_login\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_logout'; 'insert' = '(\'wp_logout\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_meta'; 'insert' = '(\'wp_meta\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_set_comment_status'; 'insert' = '(\'wp_set_comment_status\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_update_comment_count'; 'insert' = '(\'wp_update_comment_count\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'xmlrpc_call'; 'insert' = '(\'xmlrpc_call\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'xmlrpc_publish_post'; 'insert' = '(\'xmlrpc_publish_post\',${1:string func_to_call},${2:10});$0';},
	{'title' = '_admin_menu'; 'insert' = '(\'_admin_menu\',${1:string func_to_call},${2:10});$0';}
)