(
	{'title' = 'activated_plugin'; 'insert' = '(\'activated_plugin\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'activate_blog'; 'insert' = '(\'activate_blog\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'activate_plugin'; 'insert' = '(\'activate_plugin\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'added_existing_user'; 'insert' = '(\'added_existing_user\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'added_option'; 'insert' = '(\'added_option\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'added_postmeta'; 'insert' = '(\'added_postmeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'added_term_relationship'; 'insert' = '(\'added_term_relationship\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'added_usermeta'; 'insert' = '(\'added_usermeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'added_{\$meta_type}_meta'; 'insert' = '(\'added_{\\$meta_type}_meta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'add_attachment'; 'insert' = '(\'add_attachment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_category_form_pre'; 'insert' = '(\'add_category_form_pre\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_link'; 'insert' = '(\'add_link\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_link_category_form_pre'; 'insert' = '(\'add_link_category_form_pre\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_meta_boxes'; 'insert' = '(\'add_meta_boxes\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'add_meta_boxes_comment'; 'insert' = '(\'add_meta_boxes_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_meta_boxes_link'; 'insert' = '(\'add_meta_boxes_link\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_option'; 'insert' = '(\'add_option\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'add_option_{\$option}'; 'insert' = '(\'add_option_{\\$option}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'add_site_option'; 'insert' = '(\'add_site_option\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'add_site_option_{\$option}'; 'insert' = '(\'add_site_option_{\\$option}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'add_tag_form'; 'insert' = '(\'add_tag_form\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_tag_form_fields'; 'insert' = '(\'add_tag_form_fields\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_tag_form_pre'; 'insert' = '(\'add_tag_form_pre\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'add_term_relationship'; 'insert' = '(\'add_term_relationship\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'add_user_to_blog'; 'insert' = '(\'add_user_to_blog\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'add_{\$meta_type}_meta'; 'insert' = '(\'add_{\\$meta_type}_meta\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'admin_bar_menu'; 'insert' = '(\'admin_bar_menu\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'admin_enqueue_scripts'; 'insert' = '(\'admin_enqueue_scripts\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'admin_footer'; 'insert' = '(\'admin_footer\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'admin_menu'; 'insert' = '(\'admin_menu\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'after-\'.\$taxonomy.\'-table'; 'insert' = '(\'after-\'.\\$taxonomy.\'-table\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'after_mu_upgrade'; 'insert' = '(\'after_mu_upgrade\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'app_publish_post'; 'insert' = '(\'app_publish_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'archive_blog'; 'insert' = '(\'archive_blog\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'atompub_create_post'; 'insert' = '(\'atompub_create_post\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'atompub_put_post'; 'insert' = '(\'atompub_put_post\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'auth_cookie_bad_hash'; 'insert' = '(\'auth_cookie_bad_hash\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'auth_cookie_bad_username'; 'insert' = '(\'auth_cookie_bad_username\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'auth_cookie_expired'; 'insert' = '(\'auth_cookie_expired\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'auth_cookie_malformed'; 'insert' = '(\'auth_cookie_malformed\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'auth_cookie_valid'; 'insert' = '(\'auth_cookie_valid\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'auth_redirect'; 'insert' = '(\'auth_redirect\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'begin_fetch_post_thumbnail_html'; 'insert' = '(\'begin_fetch_post_thumbnail_html\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'check_admin_referer'; 'insert' = '(\'check_admin_referer\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'check_ajax_referer'; 'insert' = '(\'check_ajax_referer\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'check_comment_flood'; 'insert' = '(\'check_comment_flood\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'check_passwords'; 'insert' = '(\'check_passwords\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'clean_attachment_cache'; 'insert' = '(\'clean_attachment_cache\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'clean_object_term_cache'; 'insert' = '(\'clean_object_term_cache\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'clean_page_cache'; 'insert' = '(\'clean_page_cache\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'clean_post_cache'; 'insert' = '(\'clean_post_cache\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'clean_term_cache'; 'insert' = '(\'clean_term_cache\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'commentrss2_item'; 'insert' = '(\'commentrss2_item\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'comment_atom_entry'; 'insert' = '(\'comment_atom_entry\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'comment_closed'; 'insert' = '(\'comment_closed\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_duplicate_trigger'; 'insert' = '(\'comment_duplicate_trigger\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_flood_trigger'; 'insert' = '(\'comment_flood_trigger\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'comment_form'; 'insert' = '(\'comment_form\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_form_logged_in_after'; 'insert' = '(\'comment_form_logged_in_after\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'comment_id_not_found'; 'insert' = '(\'comment_id_not_found\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_on_draft'; 'insert' = '(\'comment_on_draft\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_on_password_protected'; 'insert' = '(\'comment_on_password_protected\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_on_trash'; 'insert' = '(\'comment_on_trash\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'comment_post'; 'insert' = '(\'comment_post\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'comment_{\$new_status}_{\$comment->comment_type}'; 'insert' = '(\'comment_{\\$new_status}_{\\$comment->comment_type}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'comment_{\$old_status}_to_{\$new_status}'; 'insert' = '(\'comment_{\\$old_status}_to_{\\$new_status}\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'created_term'; 'insert' = '(\'created_term\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'created_\$taxonomy'; 'insert' = '(\'created_\\$taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'create_term'; 'insert' = '(\'create_term\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'create_\$taxonomy'; 'insert' = '(\'create_\\$taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'deactivated_plugin'; 'insert' = '(\'deactivated_plugin\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'deactivate_blog'; 'insert' = '(\'deactivate_blog\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deactivate_plugin'; 'insert' = '(\'deactivate_plugin\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'deleted_comment'; 'insert' = '(\'deleted_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_commentmeta'; 'insert' = '(\'deleted_commentmeta\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_link'; 'insert' = '(\'deleted_link\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_option'; 'insert' = '(\'deleted_option\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_post'; 'insert' = '(\'deleted_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_postmeta'; 'insert' = '(\'deleted_postmeta\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_site_transient'; 'insert' = '(\'deleted_site_transient\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_term_relationships'; 'insert' = '(\'deleted_term_relationships\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'deleted_term_taxonomy'; 'insert' = '(\'deleted_term_taxonomy\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_transient'; 'insert' = '(\'deleted_transient\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_user'; 'insert' = '(\'deleted_user\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'deleted_usermeta'; 'insert' = '(\'deleted_usermeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'deleted_{\$meta_type}_meta'; 'insert' = '(\'deleted_{\\$meta_type}_meta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'delete_attachment'; 'insert' = '(\'delete_attachment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_blog'; 'insert' = '(\'delete_blog\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'delete_comment'; 'insert' = '(\'delete_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_commentmeta'; 'insert' = '(\'delete_commentmeta\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_link'; 'insert' = '(\'delete_link\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_option'; 'insert' = '(\'delete_option\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_option_\$option'; 'insert' = '(\'delete_option_\\$option\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_post'; 'insert' = '(\'delete_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_postmeta'; 'insert' = '(\'delete_postmeta\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_site_option'; 'insert' = '(\'delete_site_option\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_site_option_{\$option}'; 'insert' = '(\'delete_site_option_{\\$option}\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_term'; 'insert' = '(\'delete_term\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'delete_term_relationships'; 'insert' = '(\'delete_term_relationships\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'delete_term_taxonomy'; 'insert' = '(\'delete_term_taxonomy\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_user'; 'insert' = '(\'delete_user\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'delete_usermeta'; 'insert' = '(\'delete_usermeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'delete_\$taxonomy'; 'insert' = '(\'delete_\\$taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'delete_{\$meta_type}_meta'; 'insert' = '(\'delete_{\\$meta_type}_meta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'deprecated_argument_run'; 'insert' = '(\'deprecated_argument_run\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'deprecated_file_included'; 'insert' = '(\'deprecated_file_included\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'deprecated_function_run'; 'insert' = '(\'deprecated_function_run\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'doing_it_wrong_run'; 'insert' = '(\'doing_it_wrong_run\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'do_meta_boxes'; 'insert' = '(\'do_meta_boxes\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'dynamic_sidebar'; 'insert' = '(\'dynamic_sidebar\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'edited_term'; 'insert' = '(\'edited_term\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'edited_terms'; 'insert' = '(\'edited_terms\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edited_term_taxonomies'; 'insert' = '(\'edited_term_taxonomies\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edited_term_taxonomy'; 'insert' = '(\'edited_term_taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'edited_\$taxonomy'; 'insert' = '(\'edited_\\$taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'edit_attachment'; 'insert' = '(\'edit_attachment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_category_form'; 'insert' = '(\'edit_category_form\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_category_form_fields'; 'insert' = '(\'edit_category_form_fields\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_category_form_pre'; 'insert' = '(\'edit_category_form_pre\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_comment'; 'insert' = '(\'edit_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_link'; 'insert' = '(\'edit_link\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_link_category_form'; 'insert' = '(\'edit_link_category_form\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_link_category_form_fields'; 'insert' = '(\'edit_link_category_form_fields\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_link_category_form_pre'; 'insert' = '(\'edit_link_category_form_pre\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_post'; 'insert' = '(\'edit_post\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'edit_tag_form'; 'insert' = '(\'edit_tag_form\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_tag_form_fields'; 'insert' = '(\'edit_tag_form_fields\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_tag_form_pre'; 'insert' = '(\'edit_tag_form_pre\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_term'; 'insert' = '(\'edit_term\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'edit_terms'; 'insert' = '(\'edit_terms\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_term_taxonomies'; 'insert' = '(\'edit_term_taxonomies\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_term_taxonomy'; 'insert' = '(\'edit_term_taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'edit_user_profile'; 'insert' = '(\'edit_user_profile\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_user_profile_update'; 'insert' = '(\'edit_user_profile_update\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'edit_\$taxonomy'; 'insert' = '(\'edit_\\$taxonomy\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'end_fetch_post_thumbnail_html'; 'insert' = '(\'end_fetch_post_thumbnail_html\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'generate_rewrite_rules'; 'insert' = '(\'generate_rewrite_rules\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'get_footer'; 'insert' = '(\'get_footer\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'get_header'; 'insert' = '(\'get_header\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'get_sidebar'; 'insert' = '(\'get_sidebar\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'get_template_part_{\$slug}'; 'insert' = '(\'get_template_part_{\\$slug}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'granted_super_admin'; 'insert' = '(\'granted_super_admin\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'grant_super_admin'; 'insert' = '(\'grant_super_admin\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'http_api_curl'; 'insert' = '(\'http_api_curl\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'http_api_debug'; 'insert' = '(\'http_api_debug\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'http_transport_get_debug'; 'insert' = '(\'http_transport_get_debug\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'http_transport_post_debug'; 'insert' = '(\'http_transport_post_debug\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'in_plugin_update_message-\$file'; 'insert' = '(\'in_plugin_update_message-\\$file\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'in_theme_update_message-\$theme_key'; 'insert' = '(\'in_theme_update_message-\\$theme_key\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'in_widget_form'; 'insert' = '(\'in_widget_form\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'load_textdomain'; 'insert' = '(\'load_textdomain\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'loop_end'; 'insert' = '(\'loop_end\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'loop_start'; 'insert' = '(\'loop_start\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'make_ham_blog'; 'insert' = '(\'make_ham_blog\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'make_ham_user'; 'insert' = '(\'make_ham_user\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'make_spam_blog'; 'insert' = '(\'make_spam_blog\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'make_spam_user'; 'insert' = '(\'make_spam_user\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'manage_comments_custom_column'; 'insert' = '(\'manage_comments_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'manage_comments_nav'; 'insert' = '(\'manage_comments_nav\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'manage_link_custom_column'; 'insert' = '(\'manage_link_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'manage_media_custom_column'; 'insert' = '(\'manage_media_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'manage_pages_custom_column'; 'insert' = '(\'manage_pages_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'manage_posts_custom_column'; 'insert' = '(\'manage_posts_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'manage_sites_custom_column'; 'insert' = '(\'manage_sites_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'manage_{\$post->post_type}_posts_custom_column'; 'insert' = '(\'manage_{\\$post->post_type}_posts_custom_column\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'mature_blog'; 'insert' = '(\'mature_blog\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'network_admin_menu'; 'insert' = '(\'network_admin_menu\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'network_site_users_after_list_table'; 'insert' = '(\'network_site_users_after_list_table\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'parse_query'; 'insert' = '(\'parse_query\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'parse_request'; 'insert' = '(\'parse_request\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'password_reset'; 'insert' = '(\'password_reset\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'permalink_structure_changed'; 'insert' = '(\'permalink_structure_changed\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'personal_options'; 'insert' = '(\'personal_options\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'personal_options_update'; 'insert' = '(\'personal_options_update\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'phpmailer_init'; 'insert' = '(\'phpmailer_init\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'pingback_post'; 'insert' = '(\'pingback_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'post-html-upload-ui'; 'insert' = '(\'post-html-upload-ui\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'posts_selection'; 'insert' = '(\'posts_selection\', ${1:string func_to_call}, ${2:10}, ${3:5});$0';},
	{'title' = 'post_comment_status_meta_box-options'; 'insert' = '(\'post_comment_status_meta_box-options\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'post_updated'; 'insert' = '(\'post_updated\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'pre_comment_on_post'; 'insert' = '(\'pre_comment_on_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'pre_get_comments'; 'insert' = '(\'pre_get_comments\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'pre_get_posts'; 'insert' = '(\'pre_get_posts\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'pre_ping'; 'insert' = '(\'pre_ping\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'pre_post_update'; 'insert' = '(\'pre_post_update\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'pre_user_query'; 'insert' = '(\'pre_user_query\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'pre_user_search'; 'insert' = '(\'pre_user_search\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'private_to_published'; 'insert' = '(\'private_to_published\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'profile_personal_options'; 'insert' = '(\'profile_personal_options\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'profile_update'; 'insert' = '(\'profile_update\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'publish_phone'; 'insert' = '(\'publish_phone\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'quick_edit_custom_box'; 'insert' = '(\'quick_edit_custom_box\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'register_post'; 'insert' = '(\'register_post\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'register_sidebar'; 'insert' = '(\'register_sidebar\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'remove_user_from_blog'; 'insert' = '(\'remove_user_from_blog\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'retreive_password'; 'insert' = '(\'retreive_password\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'retrieve_password'; 'insert' = '(\'retrieve_password\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'retrieve_password_key'; 'insert' = '(\'retrieve_password_key\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'revoked_super_admin'; 'insert' = '(\'revoked_super_admin\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'revoke_super_admin'; 'insert' = '(\'revoke_super_admin\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'save_post'; 'insert' = '(\'save_post\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'send_headers'; 'insert' = '(\'send_headers\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'setted_site_transient'; 'insert' = '(\'setted_site_transient\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'setted_transient'; 'insert' = '(\'setted_transient\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'set_auth_cookie'; 'insert' = '(\'set_auth_cookie\', ${1:string func_to_call}, ${2:10}, ${3:5});$0';},
	{'title' = 'set_logged_in_cookie'; 'insert' = '(\'set_logged_in_cookie\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'set_object_terms'; 'insert' = '(\'set_object_terms\', ${1:string func_to_call}, ${2:10}, ${3:6});$0';},
	{'title' = 'set_user_role'; 'insert' = '(\'set_user_role\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'show_user_profile'; 'insert' = '(\'show_user_profile\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'signup_blogform'; 'insert' = '(\'signup_blogform\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'signup_extra_fields'; 'insert' = '(\'signup_extra_fields\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'spammed_comment'; 'insert' = '(\'spammed_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'spam_comment'; 'insert' = '(\'spam_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'switch_blog'; 'insert' = '(\'switch_blog\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'the_post'; 'insert' = '(\'the_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'the_widget'; 'insert' = '(\'the_widget\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'trackback_post'; 'insert' = '(\'trackback_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'transition_comment_status'; 'insert' = '(\'transition_comment_status\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'transition_post_status'; 'insert' = '(\'transition_post_status\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'trashed_comment'; 'insert' = '(\'trashed_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'trashed_post'; 'insert' = '(\'trashed_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'trashed_post_comments'; 'insert' = '(\'trashed_post_comments\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'trash_comment'; 'insert' = '(\'trash_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'trash_post'; 'insert' = '(\'trash_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'trash_post_comments'; 'insert' = '(\'trash_post_comments\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'unload_textdomain'; 'insert' = '(\'unload_textdomain\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'unspammed_comment'; 'insert' = '(\'unspammed_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'unspam_comment'; 'insert' = '(\'unspam_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'untrashed_comment'; 'insert' = '(\'untrashed_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'untrashed_post'; 'insert' = '(\'untrashed_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'untrashed_post_comments'; 'insert' = '(\'untrashed_post_comments\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'untrash_comment'; 'insert' = '(\'untrash_comment\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'untrash_post'; 'insert' = '(\'untrash_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'untrash_post_comments'; 'insert' = '(\'untrash_post_comments\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'updated_option'; 'insert' = '(\'updated_option\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'updated_postmeta'; 'insert' = '(\'updated_postmeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'updated_usermeta'; 'insert' = '(\'updated_usermeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'updated_{\$meta_type}_meta'; 'insert' = '(\'updated_{\\$meta_type}_meta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'update_option'; 'insert' = '(\'update_option\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'update_option_{\$option}'; 'insert' = '(\'update_option_{\\$option}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'update_postmeta'; 'insert' = '(\'update_postmeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'update_site_option'; 'insert' = '(\'update_site_option\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'update_site_option_{\$option}'; 'insert' = '(\'update_site_option_{\\$option}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'update_usermeta'; 'insert' = '(\'update_usermeta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'update_{\$meta_type}_meta'; 'insert' = '(\'update_{\\$meta_type}_meta\', ${1:string func_to_call}, ${2:10}, ${3:4});$0';},
	{'title' = 'user_admin_menu'; 'insert' = '(\'user_admin_menu\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'user_profile_update_errors'; 'insert' = '(\'user_profile_update_errors\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'user_register'; 'insert' = '(\'user_register\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp'; 'insert' = '(\'wp\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmuadminresult'; 'insert' = '(\'wpmuadminresult\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmublogsaction'; 'insert' = '(\'wpmublogsaction\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmueditblogaction'; 'insert' = '(\'wpmueditblogaction\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmu_activate_blog'; 'insert' = '(\'wpmu_activate_blog\', ${1:string func_to_call}, ${2:10}, ${3:5});$0';},
	{'title' = 'wpmu_activate_user'; 'insert' = '(\'wpmu_activate_user\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'wpmu_blog_updated'; 'insert' = '(\'wpmu_blog_updated\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmu_delete_user'; 'insert' = '(\'wpmu_delete_user\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmu_new_blog'; 'insert' = '(\'wpmu_new_blog\', ${1:string func_to_call}, ${2:10}, ${3:6});$0';},
	{'title' = 'wpmu_new_user'; 'insert' = '(\'wpmu_new_user\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wpmu_upgrade_site'; 'insert' = '(\'wpmu_upgrade_site\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_authenticate'; 'insert' = '(\'wp_authenticate\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_blacklist_check'; 'insert' = '(\'wp_blacklist_check\', ${1:string func_to_call}, ${2:10}, ${3:6});$0';},
	{'title' = 'wp_create_file_in_uploads'; 'insert' = '(\'wp_create_file_in_uploads\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_create_nav_menu'; 'insert' = '(\'wp_create_nav_menu\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_default_scripts'; 'insert' = '(\'wp_default_scripts\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_default_styles'; 'insert' = '(\'wp_default_styles\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_delete_nav_menu'; 'insert' = '(\'wp_delete_nav_menu\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_delete_post_revision'; 'insert' = '(\'wp_delete_post_revision\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_feed_options'; 'insert' = '(\'wp_feed_options\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_insert_comment'; 'insert' = '(\'wp_insert_comment\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_insert_post'; 'insert' = '(\'wp_insert_post\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_login'; 'insert' = '(\'wp_login\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_login_failed'; 'insert' = '(\'wp_login_failed\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_register_sidebar_widget'; 'insert' = '(\'wp_register_sidebar_widget\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_restore_post_revision'; 'insert' = '(\'wp_restore_post_revision\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = 'wp_set_comment_status'; 'insert' = '(\'wp_set_comment_status\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_unregister_sidebar_widget'; 'insert' = '(\'wp_unregister_sidebar_widget\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_update_comment_count'; 'insert' = '(\'wp_update_comment_count\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'wp_update_nav_menu'; 'insert' = '(\'wp_update_nav_menu\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'wp_update_nav_menu_item'; 'insert' = '(\'wp_update_nav_menu_item\', ${1:string func_to_call}, ${2:10}, ${3:3});$0';},
	{'title' = 'xmlrpc_call'; 'insert' = '(\'xmlrpc_call\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = 'xmlrpc_publish_post'; 'insert' = '(\'xmlrpc_publish_post\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = '_wp_put_post_revision'; 'insert' = '(\'_wp_put_post_revision\', ${1:string func_to_call}, ${2:10});$0';},
	{'title' = '{\$new_status}_{\$post->post_type}'; 'insert' = '(\'{\\$new_status}_{\\$post->post_type}\', ${1:string func_to_call}, ${2:10}, ${3:2});$0';},
	{'title' = '{\$old_status}_to_{\$new_status}'; 'insert' = '(\'{\\$old_status}_to_{\\$new_status}\', ${1:string func_to_call}, ${2:10});$0';}
)