(
	{display = 'cfct_about_text'; insert = '();$0';},
	{display = 'cfct_admin_css'; insert = '();$0';},
	{display = 'cfct_admin_head'; insert = '();$0';},
	{display = 'cfct_admin_js'; insert = '();$0';},
	{display = 'cfct_admin_menu'; insert = '();$0';},
	{display = 'cfct_admin_request_handler'; insert = '();$0';},
	{display = 'cfct_ajax_comment_link'; insert = '();$0';},
	{display = 'cfct_ajax_load'; insert = '();$0';},
	{display = 'cfct_ajax_post_comments'; insert = '(${1:int post_id});$0';},
	{display = 'cfct_ajax_post_content'; insert = '(${1:int post_id});$0';},
	{display = 'cfct_attachment'; insert = '();$0';},
	{display = 'cfct_author_filename_to_name'; insert = '(${1:string file});$0';},
	{display = 'cfct_author_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_banner'; insert = '(${1:string str});$0';},
	{display = 'cfct_basic_content_formatting'; insert = '(${1:string str});$0';},
	{display = 'cfct_cat_filename_to_id'; insert = '(${1:string file});$0';},
	{display = 'cfct_cat_filename_to_name'; insert = '(${1:string file});$0';},
	{display = 'cfct_cat_filename_to_slug'; insert = '(${1:string file});$0';},
	{display = 'cfct_cat_id_to_slug'; insert = '(${1:int id});$0';},
	{display = 'cfct_cat_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_comment_template'; insert = '();$0';},
	{display = 'cfct_choose_comment_template_author'; insert = '(${1:string files});$0';},
	{display = 'cfct_choose_comment_template_default'; insert = '(${1:string files});$0';},
	{display = 'cfct_choose_comment_template_ping'; insert = '(${1:string files});$0';},
	{display = 'cfct_choose_comment_template_role'; insert = '(${1:string files});$0';},
	{display = 'cfct_choose_comment_template_user'; insert = '(${1:string files});$0';},
	{display = 'cfct_choose_content_template'; insert = '(${1:string type});$0';},
	{display = 'cfct_choose_general_template'; insert = '(${1:string dir});$0';},
	{display = 'cfct_choose_general_template_author'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_general_template_category'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_general_template_default'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_general_template_role'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_general_template_single'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_general_template_tag'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_choose_single_template'; insert = '(${1:string files}, ${2:string filter});$0';},
	{display = 'cfct_comment'; insert = '(${1:string data});$0';},
	{display = 'cfct_comment_id_fields'; insert = '();$0';},
	{display = 'cfct_comment_templates'; insert = '(${1:string type}, ${2:bool files});$0';},
	{display = 'cfct_comments'; insert = '();$0';},
	{display = 'cfct_content'; insert = '();$0';},
	{display = 'cfct_context'; insert = '();$0';},
	{display = 'cfct_default_file'; insert = '(${1:string dir});$0';},
	{display = 'cfct_die'; insert = '(${1:string str});$0';},
	{display = 'cfct_error'; insert = '(${1:string name});$0';},
	{display = 'cfct_excerpt'; insert = '();$0';},
	{display = 'cfct_filename'; insert = '(${1:string dir}, ${2:string type}, ${3:string keys});$0';},
	{display = 'cfct_filename_filter'; insert = '(${1:string filename}, ${2:string filter});$0';},
	{display = 'cfct_files'; insert = '(${1:string path});$0';},
	{display = 'cfct_filter_files'; insert = '(${1:string files}, ${2:string prefix});$0';},
	{display = 'cfct_footer'; insert = '();$0';},
	{display = 'cfct_form'; insert = '(${1:string name});$0';},
	{display = 'cfct_get_adjacent_image_link'; insert = '(${1:bool prev});$0';},
	{display = 'cfct_get_cancel_comment_reply_link'; insert = '(${1:string reply_link}, ${2:string link}, ${3:string text});$0';},
	{display = 'cfct_get_custom_colors'; insert = '(${1:string type});$0';},
	{display = 'cfct_get_option'; insert = '(${1:string name});$0';},
	{display = 'cfct_header'; insert = '();$0';},
	{display = 'cfct_header_image_form'; insert = '();$0';},
	{display = 'cfct_home_columns'; insert = '(${1:string elem}, ${2:string slide});$0';},
	{display = 'cfct_init'; insert = '();$0';},
	{display = 'cfct_load_plugins'; insert = '();$0';},
	{display = 'cfct_loop'; insert = '();$0';},
	{display = 'cfct_meta_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_misc'; insert = '(${1:string name});$0';},
	{display = 'cfct_options_home_column'; insert = '(${1:string key});$0';},
	{display = 'cfct_options_misc'; insert = '();$0';},
	{display = 'cfct_page'; insert = '(${1:string file});$0';},
	{display = 'cfct_parent_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_post_gallery'; insert = '(${1:string attr});$0';},
	{display = 'cfct_post_id_to_slug'; insert = '(${1:int id});$0';},
	{display = 'cfct_posts'; insert = '();$0';},
	{display = 'cfct_posts_per_archive_page'; insert = '(${1:string query});$0';},
	{display = 'cfct_role_filename_to_name'; insert = '(${1:string file});$0';},
	{display = 'cfct_role_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_settings_form'; insert = '();$0';},
	{display = 'cfct_sidebar'; insert = '();$0';},
	{display = 'cfct_single'; insert = '();$0';},
	{display = 'cfct_single_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_tag_filename_to_name'; insert = '(${1:string file});$0';},
	{display = 'cfct_tag_templates'; insert = '(${1:string dir}, ${2:string files});$0';},
	{display = 'cfct_template'; insert = '(${1:string dir}, ${2:string keys});$0';},
	{display = 'cfct_template_file'; insert = '(${1:string dir}, ${2:string file}, ${3:string data});$0';},
	{display = 'cfct_threaded_comment'; insert = '(${1:string comment}, ${2:array args}, ${3:string depth});$0';},
	{display = 'cfct_update_settings'; insert = '();$0';},
	{display = 'cfct_username_to_id'; insert = '(${1:string username});$0';},
	{display = 'cfct_wp_footer'; insert = '();$0';}
)