(
	{display = 'cfct_about_text'; insert = '();$0'; match = 'cfct_about_text';},
	{display = 'cfct_add_posts_per_archive_page'; insert = '();$0'; match = 'cfct_add_posts_per_archive_page';},
	{display = 'cfct_admin_css'; insert = '();$0'; match = 'cfct_admin_css';},
	{display = 'cfct_admin_head'; insert = '();$0'; match = 'cfct_admin_head';},
	{display = 'cfct_admin_js'; insert = '();$0'; match = 'cfct_admin_js';},
	{display = 'cfct_admin_menu'; insert = '();$0'; match = 'cfct_admin_menu';},
	{display = 'cfct_admin_request_handler'; insert = '();$0'; match = 'cfct_admin_request_handler';},
	{display = 'cfct_ajax_comment_link'; insert = '(${1:string attrs});$0'; match = 'cfct_ajax_comment_link';},
	{display = 'cfct_ajax_load'; insert = '();$0'; match = 'cfct_ajax_load';},
	{display = 'cfct_ajax_post_comments'; insert = '(${1:int post_id});$0'; match = 'cfct_ajax_post_comments';},
	{display = 'cfct_ajax_post_content'; insert = '(${1:int post_id});$0'; match = 'cfct_ajax_post_content';},
	{display = 'cfct_attachment'; insert = '();$0'; match = 'cfct_attachment';},
	{display = 'cfct_author_filename_to_name'; insert = '(${1:string file});$0'; match = 'cfct_author_filename_to_name';},
	{display = 'cfct_author_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_author_templates';},
	{display = 'cfct_banner'; insert = '(${1:string str});$0'; match = 'cfct_banner';},
	{display = 'cfct_basic_content_formatting'; insert = '(${1:string str});$0'; match = 'cfct_basic_content_formatting';},
	{display = 'cfct_cat_filename_to_id'; insert = '(${1:string file});$0'; match = 'cfct_cat_filename_to_id';},
	{display = 'cfct_cat_filename_to_name'; insert = '(${1:string file});$0'; match = 'cfct_cat_filename_to_name';},
	{display = 'cfct_cat_filename_to_slug'; insert = '(${1:string file});$0'; match = 'cfct_cat_filename_to_slug';},
	{display = 'cfct_cat_id_to_slug'; insert = '(${1:int id});$0'; match = 'cfct_cat_id_to_slug';},
	{display = 'cfct_cat_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_cat_templates';},
	{display = 'cfct_choose_comment_template'; insert = '();$0'; match = 'cfct_choose_comment_template';},
	{display = 'cfct_choose_comment_template_author'; insert = '(${1:string files});$0'; match = 'cfct_choose_comment_template_author';},
	{display = 'cfct_choose_comment_template_default'; insert = '(${1:string files});$0'; match = 'cfct_choose_comment_template_default';},
	{display = 'cfct_choose_comment_template_meta'; insert = '(${1:string files});$0'; match = 'cfct_choose_comment_template_meta';},
	{display = 'cfct_choose_comment_template_ping'; insert = '(${1:string files});$0'; match = 'cfct_choose_comment_template_ping';},
	{display = 'cfct_choose_comment_template_role'; insert = '(${1:string files});$0'; match = 'cfct_choose_comment_template_role';},
	{display = 'cfct_choose_comment_template_user'; insert = '(${1:string files});$0'; match = 'cfct_choose_comment_template_user';},
	{display = 'cfct_choose_content_template'; insert = '(${1:string type});$0'; match = 'cfct_choose_content_template';},
	{display = 'cfct_choose_general_template'; insert = '(${1:string dir});$0'; match = 'cfct_choose_general_template';},
	{display = 'cfct_choose_general_template_author'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_author';},
	{display = 'cfct_choose_general_template_category'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_category';},
	{display = 'cfct_choose_general_template_default'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_default';},
	{display = 'cfct_choose_general_template_role'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_role';},
	{display = 'cfct_choose_general_template_single'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_single';},
	{display = 'cfct_choose_general_template_tag'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_tag';},
	{display = 'cfct_choose_general_template_taxonomy'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_taxonomy';},
	{display = 'cfct_choose_general_template_type'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_choose_general_template_type';},
	{display = 'cfct_choose_single_template'; insert = '(${1:string files}, ${2:string filter}, ${3:string dir});$0'; match = 'cfct_choose_single_template';},
	{display = 'cfct_choose_single_template_author'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_author';},
	{display = 'cfct_choose_single_template_category'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_category';},
	{display = 'cfct_choose_single_template_format'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_format';},
	{display = 'cfct_choose_single_template_meta'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_meta';},
	{display = 'cfct_choose_single_template_parent'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_parent';},
	{display = 'cfct_choose_single_template_role'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_role';},
	{display = 'cfct_choose_single_template_tag'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_tag';},
	{display = 'cfct_choose_single_template_taxonomy'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_taxonomy';},
	{display = 'cfct_choose_single_template_type'; insert = '(${1:string dir}, ${2:string files}, ${3:string filter});$0'; match = 'cfct_choose_single_template_type';},
	{display = 'cfct_comment'; insert = '(${1:string data});$0'; match = 'cfct_comment';},
	{display = 'cfct_comment_id_fields'; insert = '();$0'; match = 'cfct_comment_id_fields';},
	{display = 'cfct_comment_templates'; insert = '(${1:string type}, ${2:bool files});$0'; match = 'cfct_comment_templates';},
	{display = 'cfct_comments'; insert = '();$0'; match = 'cfct_comments';},
	{display = 'cfct_content'; insert = '();$0'; match = 'cfct_content';},
	{display = 'cfct_context'; insert = '();$0'; match = 'cfct_context';},
	{display = 'cfct_default_file'; insert = '(${1:string dir});$0'; match = 'cfct_default_file';},
	{display = 'cfct_die'; insert = '(${1:string str});$0'; match = 'cfct_die';},
	{display = 'cfct_error'; insert = '(${1:string name});$0'; match = 'cfct_error';},
	{display = 'cfct_excerpt'; insert = '();$0'; match = 'cfct_excerpt';},
	{display = 'cfct_filename'; insert = '(${1:string dir}, ${2:string type}, ${3:string keys});$0'; match = 'cfct_filename';},
	{display = 'cfct_filename_filter'; insert = '(${1:string filename}, ${2:string filter});$0'; match = 'cfct_filename_filter';},
	{display = 'cfct_files'; insert = '(${1:string path});$0'; match = 'cfct_files';},
	{display = 'cfct_filter_files'; insert = '(${1:string files}, ${2:string prefix});$0'; match = 'cfct_filter_files';},
	{display = 'cfct_footer'; insert = '();$0'; match = 'cfct_footer';},
	{display = 'cfct_form'; insert = '(${1:string name});$0'; match = 'cfct_form';},
	{display = 'cfct_format_filename_to_format'; insert = '(${1:string file});$0'; match = 'cfct_format_filename_to_format';},
	{display = 'cfct_format_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_format_templates';},
	{display = 'cfct_get_adjacent_image_link'; insert = '(${1:bool prev});$0'; match = 'cfct_get_adjacent_image_link';},
	{display = 'cfct_get_cancel_comment_reply_link'; insert = '(${1:string reply_link}, ${2:string link}, ${3:string text});$0'; match = 'cfct_get_cancel_comment_reply_link';},
	{display = 'cfct_get_custom_colors'; insert = '(${1:string type});$0'; match = 'cfct_get_custom_colors';},
	{display = 'cfct_get_option'; insert = '(${1:string name});$0'; match = 'cfct_get_option';},
	{display = 'cfct_header'; insert = '();$0'; match = 'cfct_header';},
	{display = 'cfct_header_image_form'; insert = '();$0'; match = 'cfct_header_image_form';},
	{display = 'cfct_home_columns'; insert = '(${1:string elem}, ${2:string slide});$0'; match = 'cfct_home_columns';},
	{display = 'cfct_init'; insert = '();$0'; match = 'cfct_init';},
	{display = 'cfct_leading_dir'; insert = '(${1:string path});$0'; match = 'cfct_leading_dir';},
	{display = 'cfct_load_plugins'; insert = '();$0'; match = 'cfct_load_plugins';},
	{display = 'cfct_loop'; insert = '();$0'; match = 'cfct_loop';},
	{display = 'cfct_meta_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_meta_templates';},
	{display = 'cfct_misc'; insert = '(${1:string name});$0'; match = 'cfct_misc';},
	{display = 'cfct_options_home_column'; insert = '(${1:string key});$0'; match = 'cfct_options_home_column';},
	{display = 'cfct_options_misc'; insert = '();$0'; match = 'cfct_options_misc';},
	{display = 'cfct_page'; insert = '(${1:string file});$0'; match = 'cfct_page';},
	{display = 'cfct_parent_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_parent_templates';},
	{display = 'cfct_post_gallery'; insert = '(${1:string unused}, ${2:string attr});$0'; match = 'cfct_post_gallery';},
	{display = 'cfct_post_id_to_slug'; insert = '(${1:int id});$0'; match = 'cfct_post_id_to_slug';},
	{display = 'cfct_posts'; insert = '();$0'; match = 'cfct_posts';},
	{display = 'cfct_posts_per_archive_page'; insert = '(${1:string query});$0'; match = 'cfct_posts_per_archive_page';},
	{display = 'cfct_posts_per_archive_page_setting'; insert = '();$0'; match = 'cfct_posts_per_archive_page_setting';},
	{display = 'cfct_posts_per_category_page'; insert = '(${1:string query});$0'; match = 'cfct_posts_per_category_page';},
	{display = 'cfct_role_filename_to_name'; insert = '(${1:string file});$0'; match = 'cfct_role_filename_to_name';},
	{display = 'cfct_role_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_role_templates';},
	{display = 'cfct_settings_form'; insert = '();$0'; match = 'cfct_settings_form';},
	{display = 'cfct_sidebar'; insert = '();$0'; match = 'cfct_sidebar';},
	{display = 'cfct_single'; insert = '();$0'; match = 'cfct_single';},
	{display = 'cfct_single_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_single_templates';},
	{display = 'cfct_tag_filename_to_name'; insert = '(${1:string file});$0'; match = 'cfct_tag_filename_to_name';},
	{display = 'cfct_tag_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_tag_templates';},
	{display = 'cfct_tax_filename_to_slug'; insert = '(${1:string file});$0'; match = 'cfct_tax_filename_to_slug';},
	{display = 'cfct_tax_filename_to_tax_name'; insert = '(${1:string file});$0'; match = 'cfct_tax_filename_to_tax_name';},
	{display = 'cfct_tax_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_tax_templates';},
	{display = 'cfct_template'; insert = '(${1:string dir}, ${2:string keys});$0'; match = 'cfct_template';},
	{display = 'cfct_template_file'; insert = '(${1:string dir}, ${2:string file}, ${3:string data});$0'; match = 'cfct_template_file';},
	{display = 'cfct_threaded_comment'; insert = '(${1:string comment}, ${2:array args}, ${3:string depth});$0'; match = 'cfct_threaded_comment';},
	{display = 'cfct_type_templates'; insert = '(${1:string dir}, ${2:string files});$0'; match = 'cfct_type_templates';},
	{display = 'cfct_update_settings'; insert = '();$0'; match = 'cfct_update_settings';},
	{display = 'cfct_username_to_id'; insert = '(${1:string username});$0'; match = 'cfct_username_to_id';},
	{display = 'cfct_wp_footer'; insert = '();$0'; match = 'cfct_wp_footer';}
)