(
	{'display' = 'ABSPATH';},
	{'display' = 'APP_REQUEST';},
	{'display' = 'ARRAY_A';},
	{'display' = 'ARRAY_N';},
	{'display' = 'ATOM';},
	{'display' = 'AUTH_COOKIE';},
	{'display' = 'AUTH_KEY';},
	{'display' = 'COMMENTS_TEMPLATE';},
	{'display' = 'COOKIEHASH';},
	{'display' = 'COOKIEPATH';},
	{'display' = 'COOKIE_DOMAIN';},
	{'display' = 'CRLF';},
	{'display' = 'CUSTOM_TAGS';},
	{'display' = 'DB_CHARSET';},
	{'display' = 'DB_COLLATE';},
	{'display' = 'DB_HOST';},
	{'display' = 'DB_NAME';},
	{'display' = 'DB_PASSWORD';},
	{'display' = 'DB_USER';},
	{'display' = 'DOING_AJAX';},
	{'display' = 'DOING_CRON';},
	{'display' = 'EP_ALL';},
	{'display' = 'EP_ATTACHMENT';},
	{'display' = 'EP_AUTHORS';},
	{'display' = 'EP_CATEGORIES';},
	{'display' = 'EP_COMMENTS';},
	{'display' = 'EP_DATE';},
	{'display' = 'EP_DAY';},
	{'display' = 'EP_MONTH';},
	{'display' = 'EP_NONE';},
	{'display' = 'EP_PAGES';},
	{'display' = 'EP_PERMALINK';},
	{'display' = 'EP_ROOT';},
	{'display' = 'EP_SEARCH';},
	{'display' = 'EP_TAGS';},
	{'display' = 'EP_YEAR';},
	{'display' = 'EZSQL_VERSION';},
	{'display' = 'FORCE_SSL_ADMIN';},
	{'display' = 'FORCE_SSL_LOGIN';},
	{'display' = 'FS_CHMOD_DIR';},
	{'display' = 'FS_CHMOD_FILE';},
	{'display' = 'FTP_FORCE';},
	{'display' = 'FTP_OS_Mac';},
	{'display' = 'FTP_OS_Unix';},
	{'display' = 'FTP_OS_Windows';},
	{'display' = 'IS_PROFILE_PAGE';},
	{'display' = 'LANGDIR';},
	{'display' = 'LOGGED_IN_COOKIE';},
	{'display' = 'LOGGED_IN_KEY';},
	{'display' = 'MAGPIE_CACHE_AGE';},
	{'display' = 'MAGPIE_CACHE_DIR';},
	{'display' = 'MAGPIE_CACHE_FRESH_ONLY';},
	{'display' = 'MAGPIE_CACHE_ON';},
	{'display' = 'MAGPIE_DEBUG';},
	{'display' = 'MAGPIE_FETCH_TIME_OUT';},
	{'display' = 'MAGPIE_INITALIZED';},
	{'display' = 'MAGPIE_USER_AGENT';},
	{'display' = 'MAGPIE_USE_GZIP';},
	{'display' = 'NONCE_KEY';},
	{'display' = 'OBJECT';},
	{'display' = 'OBJECT_K';},
	{'display' = 'PASS_COOKIE';},
	{'display' = 'RSS';},
	{'display' = 'SECRET_KEY';},
	{'display' = 'SECURE_AUTH_COOKIE';},
	{'display' = 'SECURE_AUTH_KEY';},
	{'display' = 'SITECOOKIEPATH';},
	{'display' = 'STYLESHEETPATH';},
	{'display' = 'TEMPLATEPATH';},
	{'display' = 'TEST_COOKIE';},
	{'display' = 'USER_COOKIE';},
	{'display' = 'WPINC';},
	{'display' = 'WP_ADMIN';},
	{'display' = 'WP_CACHE';},
	{'display' = 'WP_CONTENT_DIR';},
	{'display' = 'WP_DEBUG';},
	{'display' = 'WP_IMPORTING';},
	{'display' = 'WP_INSTALLING';},
	{'display' = 'WP_LANG_DIR';},
	{'display' = 'WP_MEMORY_LIMIT';},
	{'display' = 'WP_UNINSTALL_PLUGIN';},
	{'display' = 'WP_USE_THEMES';},
	{'display' = 'WXR_VERSION';},
	{'display' = 'XMLRPC_REQUEST';}
)