(
	{'display' = 'ABSPATH';},
	{'display' = 'APP_REQUEST';},
	{'display' = 'ATOM';},
	{'display' = 'AUTH_COOKIE';},
	{'display' = 'AUTH_KEY';},
	{'display' = 'AUTH_SALT';},
	{'display' = 'COMMENTS_TEMPLATE';},
	{'display' = 'COMPRESS_CSS';},
	{'display' = 'COMPRESS_SCRIPTS';},
	{'display' = 'CONCATENATE_SCRIPTS';},
	{'display' = 'COOKIEPATH';},
	{'display' = 'COOKIE_DOMAIN';},
	{'display' = 'CRLF';},
	{'display' = 'DB_CHARSET';},
	{'display' = 'DB_COLLATE';},
	{'display' = 'DB_HOST';},
	{'display' = 'DB_NAME';},
	{'display' = 'DB_PASSWORD';},
	{'display' = 'DB_USER';},
	{'display' = 'DOING_AJAX';},
	{'display' = 'DOING_CRON';},
	{'display' = 'ENFORCE_GZIP';},
	{'display' = 'EP_ALL';},
	{'display' = 'EP_ATTACHMENT';},
	{'display' = 'EP_AUTHORS';},
	{'display' = 'EP_CATEGORIES';},
	{'display' = 'EP_COMMENTS';},
	{'display' = 'EP_DATE';},
	{'display' = 'EP_DAY';},
	{'display' = 'EP_MONTH';},
	{'display' = 'EP_NONE';},
	{'display' = 'EP_PAGES';},
	{'display' = 'EP_PERMALINK';},
	{'display' = 'EP_ROOT';},
	{'display' = 'EP_SEARCH';},
	{'display' = 'EP_TAGS';},
	{'display' = 'EP_YEAR';},
	{'display' = 'FORCE_SSL_ADMIN';},
	{'display' = 'FORCE_SSL_LOGIN';},
	{'display' = 'FS_CHMOD_DIR';},
	{'display' = 'FS_CHMOD_FILE';},
	{'display' = 'FS_CONNECT_TIMEOUT';},
	{'display' = 'FS_TIMEOUT';},
	{'display' = 'FTP_FORCE';},
	{'display' = 'FTP_OS_Mac';},
	{'display' = 'FTP_OS_Unix';},
	{'display' = 'FTP_OS_Windows';},
	{'display' = 'IS_PROFILE_PAGE';},
	{'display' = 'LOGGED_IN_COOKIE';},
	{'display' = 'LOGGED_IN_KEY';},
	{'display' = 'LOGGED_IN_SALT';},
	{'display' = 'MAGPIE_CACHE_AGE';},
	{'display' = 'MAGPIE_CACHE_DIR';},
	{'display' = 'MAGPIE_CACHE_FRESH_ONLY';},
	{'display' = 'MAGPIE_CACHE_ON';},
	{'display' = 'MAGPIE_DEBUG';},
	{'display' = 'MAGPIE_FETCH_TIME_OUT';},
	{'display' = 'MAGPIE_INITALIZED';},
	{'display' = 'MAGPIE_USER_AGENT';},
	{'display' = 'MAGPIE_USE_GZIP';},
	{'display' = 'MEDIA_TRASH';},
	{'display' = 'NONCE_KEY';},
	{'display' = 'NONCE_SALT';},
	{'display' = 'PASS_COOKIE';},
	{'display' = 'PO_MAX_LINE_LEN';},
	{'display' = 'RSS';},
	{'display' = 'SCRIPT_DEBUG';},
	{'display' = 'SECRET_KEY';},
	{'display' = 'SECURE_AUTH_COOKIE';},
	{'display' = 'SECURE_AUTH_KEY';},
	{'display' = 'SECURE_AUTH_SALT';},
	{'display' = 'SERVICES_JSON_IN_ARR';},
	{'display' = 'SERVICES_JSON_IN_CMT';},
	{'display' = 'SERVICES_JSON_IN_OBJ';},
	{'display' = 'SERVICES_JSON_IN_STR';},
	{'display' = 'SERVICES_JSON_LOOSE_TYPE';},
	{'display' = 'SERVICES_JSON_SLICE';},
	{'display' = 'SERVICES_JSON_SUPPRESS_ERRORS';},
	{'display' = 'SHORTINIT';},
	{'display' = 'SIMPLEPIE_BUILD';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_ALL';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_BASE64';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_HTML';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_IRI';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_MAYBE_HTML';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_NONE';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_TEXT';},
	{'display' = 'SIMPLEPIE_CONSTRUCT_XHTML';},
	{'display' = 'SIMPLEPIE_FILE_SOURCE_CURL';},
	{'display' = 'SIMPLEPIE_FILE_SOURCE_FILE_GET_CONTENTS';},
	{'display' = 'SIMPLEPIE_FILE_SOURCE_FSOCKOPEN';},
	{'display' = 'SIMPLEPIE_FILE_SOURCE_LOCAL';},
	{'display' = 'SIMPLEPIE_FILE_SOURCE_NONE';},
	{'display' = 'SIMPLEPIE_FILE_SOURCE_REMOTE';},
	{'display' = 'SIMPLEPIE_IANA_LINK_RELATIONS_REGISTRY';},
	{'display' = 'SIMPLEPIE_LINKBACK';},
	{'display' = 'SIMPLEPIE_LOCATOR_ALL';},
	{'display' = 'SIMPLEPIE_LOCATOR_AUTODISCOVERY';},
	{'display' = 'SIMPLEPIE_LOCATOR_LOCAL_BODY';},
	{'display' = 'SIMPLEPIE_LOCATOR_LOCAL_EXTENSION';},
	{'display' = 'SIMPLEPIE_LOCATOR_NONE';},
	{'display' = 'SIMPLEPIE_LOCATOR_REMOTE_BODY';},
	{'display' = 'SIMPLEPIE_LOCATOR_REMOTE_EXTENSION';},
	{'display' = 'SIMPLEPIE_LOWERCASE';},
	{'display' = 'SIMPLEPIE_NAME';},
	{'display' = 'SIMPLEPIE_NAMESPACE_ATOM_03';},
	{'display' = 'SIMPLEPIE_NAMESPACE_ATOM_10';},
	{'display' = 'SIMPLEPIE_NAMESPACE_DC_10';},
	{'display' = 'SIMPLEPIE_NAMESPACE_DC_11';},
	{'display' = 'SIMPLEPIE_NAMESPACE_GEORSS';},
	{'display' = 'SIMPLEPIE_NAMESPACE_ITUNES';},
	{'display' = 'SIMPLEPIE_NAMESPACE_MEDIARSS';},
	{'display' = 'SIMPLEPIE_NAMESPACE_MEDIARSS_WRONG';},
	{'display' = 'SIMPLEPIE_NAMESPACE_RDF';},
	{'display' = 'SIMPLEPIE_NAMESPACE_RSS_090';},
	{'display' = 'SIMPLEPIE_NAMESPACE_RSS_10';},
	{'display' = 'SIMPLEPIE_NAMESPACE_RSS_10_MODULES_CONTENT';},
	{'display' = 'SIMPLEPIE_NAMESPACE_RSS_20';},
	{'display' = 'SIMPLEPIE_NAMESPACE_W3C_BASIC_GEO';},
	{'display' = 'SIMPLEPIE_NAMESPACE_XHTML';},
	{'display' = 'SIMPLEPIE_NAMESPACE_XML';},
	{'display' = 'SIMPLEPIE_PCRE_HTML_ATTRIBUTE';},
	{'display' = 'SIMPLEPIE_PCRE_XML_ATTRIBUTE';},
	{'display' = 'SIMPLEPIE_PHP5';},
	{'display' = 'SIMPLEPIE_SAME_CASE';},
	{'display' = 'SIMPLEPIE_TYPE_ALL';},
	{'display' = 'SIMPLEPIE_TYPE_ATOM_03';},
	{'display' = 'SIMPLEPIE_TYPE_ATOM_10';},
	{'display' = 'SIMPLEPIE_TYPE_ATOM_ALL';},
	{'display' = 'SIMPLEPIE_TYPE_NONE';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_090';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_091';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_091_NETSCAPE';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_091_USERLAND';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_092';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_093';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_094';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_10';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_20';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_ALL';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_RDF';},
	{'display' = 'SIMPLEPIE_TYPE_RSS_SYNDICATION';},
	{'display' = 'SIMPLEPIE_UPPERCASE';},
	{'display' = 'SIMPLEPIE_URL';},
	{'display' = 'SIMPLEPIE_USERAGENT';},
	{'display' = 'SIMPLEPIE_VERSION';},
	{'display' = 'SITECOOKIEPATH';},
	{'display' = 'STYLESHEETPATH';},
	{'display' = 'TEMPLATEPATH';},
	{'display' = 'TEST_COOKIE';},
	{'display' = 'USER_COOKIE';},
	{'display' = 'WPINC';},
	{'display' = 'WP_ADMIN';},
	{'display' = 'WP_ALLOW_REPAIR';},
	{'display' = 'WP_CACHE';},
	{'display' = 'WP_CONTENT_DIR';},
	{'display' = 'WP_DEBUG';},
	{'display' = 'WP_DEBUG_DISPLAY';},
	{'display' = 'WP_DEBUG_LOG';},
	{'display' = 'WP_IMPORTING';},
	{'display' = 'WP_INSTALLING';},
	{'display' = 'WP_MAIL_INTERVAL';},
	{'display' = 'WP_MEMORY_LIMIT';},
	{'display' = 'WP_POST_REVISIONS';},
	{'display' = 'WP_PROXY_BYPASS_HOSTS';},
	{'display' = 'WP_PROXY_HOST';},
	{'display' = 'WP_PROXY_PORT';},
	{'display' = 'WP_REPAIRING';},
	{'display' = 'WP_SETUP_CONFIG';},
	{'display' = 'WP_UNINSTALL_PLUGIN';},
	{'display' = 'WP_USE_THEMES';},
	{'display' = 'WXR_VERSION';},
	{'display' = 'XMLRPC_REQUEST';}
)