(
	{'title' = 'add_menu_classes'; 'insert' = '(\'add_menu_classes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'add_signup_meta'; 'insert' = '(\'add_signup_meta\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_footer_text'; 'insert' = '(\'admin_footer_text\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_memory_limit'; 'insert' = '(\'admin_memory_limit\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'admin_post_thumbnail_html'; 'insert' = '(\'admin_post_thumbnail_html\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'attachment_icon'; 'insert' = '(\'attachment_icon\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'attribute_escape'; 'insert' = '(\'attribute_escape\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'blog_details'; 'insert' = '(\'blog_details\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'body_class'; 'insert' = '(\'body_class\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'category_link'; 'insert' = '(\'category_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comments_array'; 'insert' = '(\'comments_array\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comments_open'; 'insert' = '(\'comments_open\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comments_per_page'; 'insert' = '(\'comments_per_page\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comments_popup_link_attributes'; 'insert' = '(\'comments_popup_link_attributes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_edit_pre'; 'insert' = '(\'comment_edit_pre\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_edit_redirect'; 'insert' = '(\'comment_edit_redirect\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comment_form_defaults'; 'insert' = '(\'comment_form_defaults\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_form_field_comment'; 'insert' = '(\'comment_form_field_comment\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_form_logged_in'; 'insert' = '(\'comment_form_logged_in\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'comment_max_links_url'; 'insert' = '(\'comment_max_links_url\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'comment_row_actions'; 'insert' = '(\'comment_row_actions\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_status_links'; 'insert' = '(\'comment_status_links\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'comment_text'; 'insert' = '(\'comment_text\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'core_version_check_locale'; 'insert' = '(\'core_version_check_locale\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'cron_schedules'; 'insert' = '(\'cron_schedules\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'default_content'; 'insert' = '(\'default_content\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'default_excerpt'; 'insert' = '(\'default_excerpt\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'default_title'; 'insert' = '(\'default_title\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'disable_captions'; 'insert' = '(\'disable_captions\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'display_post_states'; 'insert' = '(\'display_post_states\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'documentation_ignore_functions'; 'insert' = '(\'documentation_ignore_functions\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'dynamic_sidebar_params'; 'insert' = '(\'dynamic_sidebar_params\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'editor_max_image_size'; 'insert' = '(\'editor_max_image_size\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'edit_categories_per_page'; 'insert' = '(\'edit_categories_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_posts_per_page'; 'insert' = '(\'edit_posts_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_tags_per_page'; 'insert' = '(\'edit_tags_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'edit_\'.\$taxonomy.\'_per_page'; 'insert' = '(\'edit_\'.\\$taxonomy.\'_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'embed_googlevideo'; 'insert' = '(\'embed_googlevideo\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'embed_handler_html'; 'insert' = '(\'embed_handler_html\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'embed_maybe_make_link'; 'insert' = '(\'embed_maybe_make_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'embed_oembed_html'; 'insert' = '(\'embed_oembed_html\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'esc_html'; 'insert' = '(\'esc_html\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'extra_\$context".\'_headers'; 'insert' = '(\'extra_\\$context".\'_headers\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'feed_content_type'; 'insert' = '(\'feed_content_type\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'gettext'; 'insert' = '(\'gettext\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'gettext_with_context'; 'insert' = '(\'gettext_with_context\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'get_archives_link'; 'insert' = '(\'get_archives_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_attached_file'; 'insert' = '(\'get_attached_file\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_avatar_comment_types'; 'insert' = '(\'get_avatar_comment_types\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_bloginfo_rss'; 'insert' = '(\'get_bloginfo_rss\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_blogs_of_user'; 'insert' = '(\'get_blogs_of_user\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'get_bookmarks'; 'insert' = '(\'get_bookmarks\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_calendar'; 'insert' = '(\'get_calendar\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_categories_taxonomy'; 'insert' = '(\'get_categories_taxonomy\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_comment_author'; 'insert' = '(\'get_comment_author\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_comment_link'; 'insert' = '(\'get_comment_link\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'get_delete_post_link'; 'insert' = '(\'get_delete_post_link\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'get_edit_bookmark_link'; 'insert' = '(\'get_edit_bookmark_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_edit_comment_link'; 'insert' = '(\'get_edit_comment_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_edit_post_link'; 'insert' = '(\'get_edit_post_link\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'get_edit_tag_link'; 'insert' = '(\'get_edit_tag_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_image_tag'; 'insert' = '(\'get_image_tag\',${1:string func_to_call},${2:10},${3:6});$0';},
	{'title' = 'get_lastpostdate'; 'insert' = '(\'get_lastpostdate\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_lastpostmodified'; 'insert' = '(\'get_lastpostmodified\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_search_query'; 'insert' = '(\'get_search_query\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_tags'; 'insert' = '(\'get_tags\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_terms_fields'; 'insert' = '(\'get_terms_fields\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_terms_orderby'; 'insert' = '(\'get_terms_orderby\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_the_generator_{\$type}'; 'insert' = '(\'get_the_generator_{\\$type}\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'get_the_tags'; 'insert' = '(\'get_the_tags\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_{\$adjacent}_post_join'; 'insert' = '(\'get_{\\$adjacent}_post_join\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'get_{\$adjacent}_post_sort'; 'insert' = '(\'get_{\\$adjacent}_post_sort\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'get_{\$adjacent}_post_where'; 'insert' = '(\'get_{\\$adjacent}_post_where\',${1:string func_to_call},${2:10},${3:5});$0';},
	{'title' = 'graceful_fail'; 'insert' = '(\'graceful_fail\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'hierarchical_post_types'; 'insert' = '(\'hierarchical_post_types\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'home_url'; 'insert' = '(\'home_url\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'http_request_args'; 'insert' = '(\'http_request_args\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'http_response'; 'insert' = '(\'http_response\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'icon_dir'; 'insert' = '(\'icon_dir\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'icon_dirs'; 'insert' = '(\'icon_dirs\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'icon_dir_uri'; 'insert' = '(\'icon_dir_uri\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'image_add_caption_shortcode'; 'insert' = '(\'image_add_caption_shortcode\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'image_send_to_editor'; 'insert' = '(\'image_send_to_editor\',${1:string func_to_call},${2:10},${3:8});$0';},
	{'title' = 'import_upload_size_limit'; 'insert' = '(\'import_upload_size_limit\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'index_rel_link'; 'insert' = '(\'index_rel_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'intermediate_image_sizes'; 'insert' = '(\'intermediate_image_sizes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'intermediate_image_sizes_advanced'; 'insert' = '(\'intermediate_image_sizes_advanced\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'is_email'; 'insert' = '(\'is_email\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'jpeg_quality'; 'insert' = '(\'jpeg_quality\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'js_escape'; 'insert' = '(\'js_escape\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'lang_codes'; 'insert' = '(\'lang_codes\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'link_category'; 'insert' = '(\'link_category\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'list_cats'; 'insert' = '(\'list_cats\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'load_textdomain_mofile'; 'insert' = '(\'load_textdomain_mofile\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'locale'; 'insert' = '(\'locale\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'login_form_defaults'; 'insert' = '(\'login_form_defaults\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'lostpassword_redirect'; 'insert' = '(\'lostpassword_redirect\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'manage_pages_columns'; 'insert' = '(\'manage_pages_columns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'manage_posts_columns'; 'insert' = '(\'manage_posts_columns\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'manage_{\$post_type}_posts_columns'; 'insert' = '(\'manage_{\\$post_type}_posts_columns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'mce_css'; 'insert' = '(\'mce_css\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'media_meta'; 'insert' = '(\'media_meta\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'media_row_actions'; 'insert' = '(\'media_row_actions\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'ms_sites_per_page'; 'insert' = '(\'ms_sites_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'ms_users_per_page'; 'insert' = '(\'ms_users_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'mu_dropdown_languages'; 'insert' = '(\'mu_dropdown_languages\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'mu_menu_items'; 'insert' = '(\'mu_menu_items\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'myblogs_options'; 'insert' = '(\'myblogs_options\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'nav_menu_css_class'; 'insert' = '(\'nav_menu_css_class\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'nav_menu_meta_box_object'; 'insert' = '(\'nav_menu_meta_box_object\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'network_home_url'; 'insert' = '(\'network_home_url\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'newblogname'; 'insert' = '(\'newblogname\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'newblog_notify_siteadmin'; 'insert' = '(\'newblog_notify_siteadmin\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'newuser_notify_siteadmin'; 'insert' = '(\'newuser_notify_siteadmin\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'next_posts_link_attributes'; 'insert' = '(\'next_posts_link_attributes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'ngettext'; 'insert' = '(\'ngettext\',${1:string func_to_call},${2:10},${3:5});$0';},
	{'title' = 'ngettext_with_context'; 'insert' = '(\'ngettext_with_context\',${1:string func_to_call},${2:10},${3:6});$0';},
	{'title' = 'number_format_i18n'; 'insert' = '(\'number_format_i18n\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'oembed_dataparse'; 'insert' = '(\'oembed_dataparse\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'oembed_result'; 'insert' = '(\'oembed_result\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'override_load_textdomain'; 'insert' = '(\'override_load_textdomain\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'override_unload_textdomain'; 'insert' = '(\'override_unload_textdomain\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'parent_post_rel_link'; 'insert' = '(\'parent_post_rel_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pingback_useragent'; 'insert' = '(\'pingback_useragent\',${1:string func_to_call},${2:10},${3:6});$0';},
	{'title' = 'pings_open'; 'insert' = '(\'pings_open\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'plugin_install_action_links'; 'insert' = '(\'plugin_install_action_links\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'plugin_locale'; 'insert' = '(\'plugin_locale\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'postmeta_form_limit'; 'insert' = '(\'postmeta_form_limit\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'post_comments_feed_link_html'; 'insert' = '(\'post_comments_feed_link_html\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'post_thumbnail_html'; 'insert' = '(\'post_thumbnail_html\',${1:string func_to_call},${2:10},${3:5});$0';},
	{'title' = 'post_thumbnail_size'; 'insert' = '(\'post_thumbnail_size\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'previous_posts_link_attributes'; 'insert' = '(\'previous_posts_link_attributes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'pre_http_request'; 'insert' = '(\'pre_http_request\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'pre_insert_term'; 'insert' = '(\'pre_insert_term\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'print_scripts_array'; 'insert' = '(\'print_scripts_array\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'print_styles_array'; 'insert' = '(\'print_styles_array\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'query'; 'insert' = '(\'query\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'redirect_post_location'; 'insert' = '(\'redirect_post_location\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'registration_errors'; 'insert' = '(\'registration_errors\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'registration_redirect'; 'insert' = '(\'registration_redirect\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'request_filesystem_credentials'; 'insert' = '(\'request_filesystem_credentials\',${1:string func_to_call},${2:10},${3:5});$0';},
	{'title' = 'role_has_cap'; 'insert' = '(\'role_has_cap\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'rss_update_frequency'; 'insert' = '(\'rss_update_frequency\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'rss_update_period'; 'insert' = '(\'rss_update_period\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'sanitize_email'; 'insert' = '(\'sanitize_email\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'sanitize_html_class'; 'insert' = '(\'sanitize_html_class\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'sanitize_user'; 'insert' = '(\'sanitize_user\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'script_loader_src'; 'insert' = '(\'script_loader_src\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'search_link'; 'insert' = '(\'search_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'shake_error_codes'; 'insert' = '(\'shake_error_codes\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'signup_create_blog_meta'; 'insert' = '(\'signup_create_blog_meta\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'single_post_title'; 'insert' = '(\'single_post_title\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'status_header'; 'insert' = '(\'status_header\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'style_loader_src'; 'insert' = '(\'style_loader_src\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'style_loader_tag'; 'insert' = '(\'style_loader_tag\',${1:string func_to_call},${2:10},${3:6});$0';},
	{'title' = 'tables_to_repair'; 'insert' = '(\'tables_to_repair\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'tagsperpage'; 'insert' = '(\'tagsperpage\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'tag_cloud_sort'; 'insert' = '(\'tag_cloud_sort\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'tag_link'; 'insert' = '(\'tag_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'teeny_mce_buttons'; 'insert' = '(\'teeny_mce_buttons\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'teeny_mce_plugins'; 'insert' = '(\'teeny_mce_plugins\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'terms_to_edit'; 'insert' = '(\'terms_to_edit\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'term_links-\$taxonomy'; 'insert' = '(\'term_links-\\$taxonomy\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'term_name'; 'insert' = '(\'term_name\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'theme_locale'; 'insert' = '(\'theme_locale\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_author_posts_link'; 'insert' = '(\'the_author_posts_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_category'; 'insert' = '(\'the_category\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_content_export'; 'insert' = '(\'the_content_export\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_content_more_link'; 'insert' = '(\'the_content_more_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_excerpt_export'; 'insert' = '(\'the_excerpt_export\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_feed_link'; 'insert' = '(\'the_feed_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'the_search_query'; 'insert' = '(\'the_search_query\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_shortlink'; 'insert' = '(\'the_shortlink\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'the_tags'; 'insert' = '(\'the_tags\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'the_title'; 'insert' = '(\'the_title\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'the_title_rss'; 'insert' = '(\'the_title_rss\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'thread_comments_depth_max'; 'insert' = '(\'thread_comments_depth_max\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'timezone_support'; 'insert' = '(\'timezone_support\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'update_attached_file'; 'insert' = '(\'update_attached_file\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'update_footer'; 'insert' = '(\'update_footer\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'update_welcome_email'; 'insert' = '(\'update_welcome_email\',${1:string func_to_call},${2:10},${3:6});$0';},
	{'title' = 'update_welcome_subject'; 'insert' = '(\'update_welcome_subject\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'update_welcome_user_email'; 'insert' = '(\'update_welcome_user_email\',${1:string func_to_call},${2:10},${3:4});$0';},
	{'title' = 'update_welcome_user_subject'; 'insert' = '(\'update_welcome_user_subject\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'upload_dir'; 'insert' = '(\'upload_dir\',${1:string func_to_call},${2:10},${3:5});$0';},
	{'title' = 'upload_per_page'; 'insert' = '(\'upload_per_page\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'upload_size_limit'; 'insert' = '(\'upload_size_limit\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'user_has_cap'; 'insert' = '(\'user_has_cap\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'user_registration_email'; 'insert' = '(\'user_registration_email\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'validate_username'; 'insert' = '(\'validate_username\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'whitelist_options'; 'insert' = '(\'whitelist_options\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'widget_text'; 'insert' = '(\'widget_text\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'widget_title'; 'insert' = '(\'widget_title\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_active_signup'; 'insert' = '(\'wpmu_active_signup\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_blogs_columns'; 'insert' = '(\'wpmu_blogs_columns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_delete_blog_upload_dir'; 'insert' = '(\'wpmu_delete_blog_upload_dir\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wpmu_drop_tables'; 'insert' = '(\'wpmu_drop_tables\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_signup_blog_notification_email'; 'insert' = '(\'wpmu_signup_blog_notification_email\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_signup_blog_notification_subject'; 'insert' = '(\'wpmu_signup_blog_notification_subject\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_signup_user_notification_email'; 'insert' = '(\'wpmu_signup_user_notification_email\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_signup_user_notification_subject'; 'insert' = '(\'wpmu_signup_user_notification_subject\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wpmu_users_columns'; 'insert' = '(\'wpmu_users_columns\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_admin_css'; 'insert' = '(\'wp_admin_css\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_admin_css_uri'; 'insert' = '(\'wp_admin_css_uri\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_check_post_lock_window'; 'insert' = '(\'wp_check_post_lock_window\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_comment_reply'; 'insert' = '(\'wp_comment_reply\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'wp_create_thumbnail'; 'insert' = '(\'wp_create_thumbnail\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_dashboard_widgets'; 'insert' = '(\'wp_dashboard_widgets\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_default_editor'; 'insert' = '(\'wp_default_editor\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_delete_file'; 'insert' = '(\'wp_delete_file\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_die_handler'; 'insert' = '(\'wp_die_handler\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_dropdown_cats'; 'insert' = '(\'wp_dropdown_cats\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_generate_attachment_metadata'; 'insert' = '(\'wp_generate_attachment_metadata\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_generate_tag_cloud'; 'insert' = '(\'wp_generate_tag_cloud\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'wp_generator_type'; 'insert' = '(\'wp_generator_type\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_get_attachment_image_attributes'; 'insert' = '(\'wp_get_attachment_image_attributes\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_get_attachment_link'; 'insert' = '(\'wp_get_attachment_link\',${1:string func_to_call},${2:10},${3:8});$0';},
	{'title' = 'wp_get_attachment_metadata'; 'insert' = '(\'wp_get_attachment_metadata\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_get_attachment_thumb_file'; 'insert' = '(\'wp_get_attachment_thumb_file\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_get_attachment_thumb_url'; 'insert' = '(\'wp_get_attachment_thumb_url\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_get_attachment_url'; 'insert' = '(\'wp_get_attachment_url\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_get_nav_menu_item'; 'insert' = '(\'wp_get_nav_menu_item\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_handle_upload'; 'insert' = '(\'wp_handle_upload\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'wp_handle_upload_prefilter'; 'insert' = '(\'wp_handle_upload_prefilter\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_link_pages_args'; 'insert' = '(\'wp_link_pages_args\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_list_bookmarks'; 'insert' = '(\'wp_list_bookmarks\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_list_categories'; 'insert' = '(\'wp_list_categories\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_mail'; 'insert' = '(\'wp_mail\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_mail_charset'; 'insert' = '(\'wp_mail_charset\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_mail_content_type'; 'insert' = '(\'wp_mail_content_type\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_mail_from_name'; 'insert' = '(\'wp_mail_from_name\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_mime_type_icon'; 'insert' = '(\'wp_mime_type_icon\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'wp_nav_menu'; 'insert' = '(\'wp_nav_menu\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_nav_menu_args'; 'insert' = '(\'wp_nav_menu_args\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_nav_menu_container_allowedtags'; 'insert' = '(\'wp_nav_menu_container_allowedtags\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_nav_menu_items'; 'insert' = '(\'wp_nav_menu_items\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_nav_menu_{\$menu->slug}_items'; 'insert' = '(\'wp_nav_menu_{\\$menu->slug}_items\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_page_menu'; 'insert' = '(\'wp_page_menu\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_page_menu_args'; 'insert' = '(\'wp_page_menu_args\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_parse_str'; 'insert' = '(\'wp_parse_str\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_read_image_metadata'; 'insert' = '(\'wp_read_image_metadata\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'wp_setup_nav_menu_item'; 'insert' = '(\'wp_setup_nav_menu_item\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_signup_location'; 'insert' = '(\'wp_signup_location\',${1:string func_to_call},${2:10});$0';},
	{'title' = 'wp_sprintf'; 'insert' = '(\'wp_sprintf\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_tag_cloud'; 'insert' = '(\'wp_tag_cloud\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_update_attachment_metadata'; 'insert' = '(\'wp_update_attachment_metadata\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = 'wp_upload_bits'; 'insert' = '(\'wp_upload_bits\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = 'xmlrpc_blog_options'; 'insert' = '(\'xmlrpc_blog_options\',${1:string func_to_call},${2:10});$0';},
	{'title' = '_get_page_link'; 'insert' = '(\'_get_page_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = '_wp_post_revision_fields'; 'insert' = '(\'_wp_post_revision_fields\',${1:string func_to_call},${2:10});$0';},
	{'title' = '_wp_post_revision_field_\$field'; 'insert' = '(\'_wp_post_revision_field_\\$field\',${1:string func_to_call},${2:10},${3:3});$0';},
	{'title' = '_wp_relative_upload_path'; 'insert' = '(\'_wp_relative_upload_path\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = '{\$adjacent}_post_link'; 'insert' = '(\'{\\$adjacent}_post_link\',${1:string func_to_call},${2:10},${3:2});$0';},
	{'title' = '{\$adjacent}_post_rel_link'; 'insert' = '(\'{\\$adjacent}_post_rel_link\',${1:string func_to_call},${2:10});$0';},
	{'title' = '{\$boundary}_post_rel_link'; 'insert' = '(\'{\\$boundary}_post_rel_link\',${1:string func_to_call},${2:10});$0';}
)