<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>22F74062-F46E-4574-BFCA-16A3AF8D1D3D</string>
			<string>DCE230B9-5C5B-4C1A-AC93-7B3770BAC265</string>
			<string>------------------------------------</string>
			<string>993317FD-2B2F-499C-89BD-F23F3FA185F3</string>
			<string>32E7ECF7-1231-4B12-9734-1BBF0FD86A76</string>
			<string>------------------------------------</string>
			<string>7F20F3C3-571B-4A78-A02C-1C2FD57439D8</string>
			<string>53CD44CD-A5EC-43BC-A67A-8D8A3B73C80C</string>
			<string>------------------------------------</string>
			<string>052C31E2-E330-4AF7-B748-5EF16541CBE8</string>
			<string>D38AD939-915A-4EC9-9D61-5B3817DC281E</string>
			<string>EE8C88B7-9C40-403B-AE1D-B2F8D68A22D9</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>32E7ECF7-1231-4B12-9734-1BBF0FD86A76</key>
			<dict>
				<key>items</key>
				<array>
					<string>9D593F50-70DB-49C3-9BA5-4AC8338BECE7</string>
					<string>3E2900FF-FADE-4E48-94B5-0A14058A43B8</string>
					<string>36229588-BA57-40D5-88C7-D20BD57706B6</string>
				</array>
				<key>name</key>
				<string>Templates</string>
			</dict>
			<key>53CD44CD-A5EC-43BC-A67A-8D8A3B73C80C</key>
			<dict>
				<key>items</key>
				<array>
					<string>E2C66F05-BA7E-483F-8E64-15B6B75E3EA9</string>
					<string>58C73630-E28A-430D-8B8A-55CBB5B9354B</string>
				</array>
				<key>name</key>
				<string>General Tags</string>
			</dict>
			<key>7F20F3C3-571B-4A78-A02C-1C2FD57439D8</key>
			<dict>
				<key>items</key>
				<array>
					<string>9FAA1D54-692E-4B80-A70A-63F5F1F3071A</string>
					<string>7EEC763F-7235-427C-8631-B59CF0182E73</string>
				</array>
				<key>name</key>
				<string>Plugin API</string>
			</dict>
			<key>993317FD-2B2F-499C-89BD-F23F3FA185F3</key>
			<dict>
				<key>items</key>
				<array>
					<string>70C9B7FA-81EC-4CB6-A560-08E4EE72CE9F</string>
					<string>7EA482BD-2F99-4939-9B72-B51781D54E28</string>
				</array>
				<key>name</key>
				<string>Loop</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>WordPress</string>
	<key>ordering</key>
	<array>
		<string>2543E52B-D5CF-4BBE-B793-51F1574EA05F</string>
		<string>DCE230B9-5C5B-4C1A-AC93-7B3770BAC265</string>
		<string>7EA482BD-2F99-4939-9B72-B51781D54E28</string>
		<string>70C9B7FA-81EC-4CB6-A560-08E4EE72CE9F</string>
		<string>D351B614-AB48-46DF-88C7-775D448520AB</string>
		<string>3E14F56C-C7CF-4F9F-8F69-6FBEC6EC6AD5</string>
		<string>1013106C-2B17-4FB0-83FE-246B9C9EBAF8</string>
		<string>E2C66F05-BA7E-483F-8E64-15B6B75E3EA9</string>
		<string>58C73630-E28A-430D-8B8A-55CBB5B9354B</string>
		<string>22F74062-F46E-4574-BFCA-16A3AF8D1D3D</string>
		<string>EE8C88B7-9C40-403B-AE1D-B2F8D68A22D9</string>
		<string>D38AD939-915A-4EC9-9D61-5B3817DC281E</string>
		<string>7EEC763F-7235-427C-8631-B59CF0182E73</string>
		<string>9FAA1D54-692E-4B80-A70A-63F5F1F3071A</string>
		<string>052C31E2-E330-4AF7-B748-5EF16541CBE8</string>
		<string>9D593F50-70DB-49C3-9BA5-4AC8338BECE7</string>
		<string>3E2900FF-FADE-4E48-94B5-0A14058A43B8</string>
		<string>36229588-BA57-40D5-88C7-D20BD57706B6</string>
	</array>
	<key>uuid</key>
	<string>F4EA978F-C21D-485A-8E86-117D82FF60C9</string>
</dict>
</plist>
