<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>DCE230B9-5C5B-4C1A-AC93-7B3770BAC265</string>
			<string>F9D2F294-C8D0-42FF-BDFB-BCEAD649B258</string>
			<string>93FA23BF-75CD-449B-A2E6-FDA4408A048A</string>
			<string>------------------------------------</string>
			<string>993317FD-2B2F-499C-89BD-F23F3FA185F3</string>
			<string>AC107E10-373E-4A1C-B7FE-13B1B2ADB65C</string>
			<string>------------------------------------</string>
			<string>22F74062-F46E-4574-BFCA-16A3AF8D1D3D</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>993317FD-2B2F-499C-89BD-F23F3FA185F3</key>
			<dict>
				<key>items</key>
				<array>
					<string>70C9B7FA-81EC-4CB6-A560-08E4EE72CE9F</string>
					<string>7EA482BD-2F99-4939-9B72-B51781D54E28</string>
				</array>
				<key>name</key>
				<string>Loop</string>
			</dict>
			<key>AC107E10-373E-4A1C-B7FE-13B1B2ADB65C</key>
			<dict>
				<key>items</key>
				<array>
					<string>92D7357A-7F28-4C2A-8587-140FAD45C24A</string>
				</array>
				<key>name</key>
				<string>Template Tags</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>WordPress</string>
	<key>uuid</key>
	<string>F4EA978F-C21D-485A-8E86-117D82FF60C9</string>
</dict>
</plist>
